@import '../../../variables.scss';

:host {
  .credential {
    height: 65px;
    width: 80vw;
    max-width: 500px;
    background: white;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    border: 1px solid $dark-color;
    border-radius: 3px;
    margin: auto;
    position: relative;
    .detail {
      h3 { margin: 0; }
      text-align: left;
    }
    .button-list {
      margin-left: auto;
    }
    .copied-tooltip {
      position: absolute;
      transition: opacity .4s, top 1s;
      opacity: 0;
      width: 100px;
      right: -20px;
      top: -12px;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
