<div class="credential">
  <div class="detail">
    <h3 [innerHTML]="credential.title"></h3>
    <small>Username: {{credential.username}}</small>
  </div>
  <div #copyTooltip class="copied-tooltip">Password Copied!</div>
  <div class="button-list">
    <pw-button title="Edit" (click)="editCredential()">
      <pw-icon src="/assets/edit.svg" color="dark"></pw-icon>
    </pw-button>
    <pw-button title="Copy password" (click)="copyPassword()">
      <pw-icon src="/assets/clipboard.svg" color="dark"></pw-icon>
    </pw-button>
  </div>
</div>
