<ng-container *ngIf="!passwords?.length; else listView">
  <div [hidden]="creating">You don't have any passwords stored yet. Click the plus icon to add them.</div>
</ng-container>
<ng-template #listView>
  <ng-container *ngFor="let cred of passwords">
    <pw-credential [credential]="cred"></pw-credential>
  </ng-container>
</ng-template>
<ng-container *ngIf="!creating; else createView">
  <div class="base-margin-top">
    <pw-icon class="base-margin-top"
     src="assets/baseline-add-24px.svg"
     (click)="enterCreateView()"
     color="dark" size="lg"></pw-icon>
  </div>
</ng-container>
<ng-template #createView>
  <form [formGroup]="pwForm">
    <pw-text-input label="Title" autofocus="true" formControlName="title"></pw-text-input>
    <pw-text-input label="Username" formControlName="username"></pw-text-input>
    <pw-text-input label="Password" type="password" formControlName="password"></pw-text-input>
    <div class="buttons">
      <pw-button (click)="cancelAdd()" title="Cancel">
        <pw-icon src="/assets/baseline-close-24px.svg" color="dark"></pw-icon>
      </pw-button>
      <pw-button *ngIf="pwForm.valid" (click)="addPassword()" title="Add Password">
        <pw-icon src="/assets/baseline-add-24px.svg" color="dark"></pw-icon>
      </pw-button>
    </div>
  </form>
</ng-template>
