@import '../../../../variables.scss';

:host {
  .form-container {
    display: flex;
    justify-content: center;
    form {
      max-width: 600px;
      @media screen and (min-width: 375px) {
        width: $small-screen-width;
      }
      @media screen and (min-width: 375px) {
        width: calc(100vw - 48px);
      }
    }
  }
  .error-msg {
    margin-left: $base-margin;
    margin-bottom: $base-margin;
    color: $danger-color;
    font-size: 12px;
  }
}
