@import '../../../variables.scss';

:host {
  .filter-input {
    max-width: 545px;
    margin: auto;
  }
  .list-buttons {
    display: inline-flex;
  }
  .credential-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
