<div #passwordList>
  <div class="filter-input">
    <pw-input type="text"
      label="Filter"
      [(ngModel)]="filter"
      (ngModelChange)="onFilter()">
    </pw-input>
  </div>
  <ng-container *ngFor="let cred of passwords; let i = index">
    <pw-credential [credential]="cred"></pw-credential>
  </ng-container>
</div>
<div class="list-buttons">
  <div class="base-margin-top" title="View Encryption Key">
    <pw-icon class="base-margin-top"
     src="/assets/key.svg"
     (click)="enterKeyView()"
     color="dark" size="lg">
    </pw-icon>
  </div>
  <div class="base-margin-top" title="Add Credentials">
    <pw-icon class="base-margin-top"
     src="/assets/add.svg"
     (click)="enterCreateView()"
     color="dark" size="lg">
    </pw-icon>
  </div>
</div>
