<ng-container *ngIf="!passwords?.length; else listView">
  <div [hidden]="showForm">You don't have any passwords stored yet. Click the plus icon to add them.</div>
</ng-container>
<ng-template #listView>
  <ng-container *ngIf="!showForm">
    <ng-container *ngFor="let cred of passwords; let i = index">
	  <pw-credential [credential]="cred"
        (triggerDelete)="onCredDelete(cred)"
        (triggerEdit)="onCredEdit(cred, i)">
      </pw-credential>
    </ng-container>
  </ng-container>
</ng-template>
<ng-container *ngIf="!showForm; else formView">
  <div class="base-margin-top" title="Add Credentials">
    <pw-icon class="base-margin-top"
     src="/assets/add.svg"
     (click)="enterCreateView()"
     color="dark" size="lg"></pw-icon>
  </div>
</ng-container>
<ng-template #formView>
  <form [formGroup]="pwForm">
    <pw-input label="Title" autofocus="true" formControlName="title"></pw-input>
    <pw-input label="Username" formControlName="username"></pw-input>
    <pw-input label="Password" type="password" formControlName="password"></pw-input>
    <div class="buttons">
      <pw-button (click)="cancelAdd()" title="Cancel">
        <pw-icon src="/assets/close.svg" color="dark"></pw-icon>
      </pw-button>
      <pw-button *ngIf="editingCred" title="Delete" (click)="onCredDelete()">
        <pw-icon src="/assets/delete.svg" color="dark"></pw-icon>
      </pw-button>
      <pw-button *ngIf="pwForm.valid" (click)="addPassword()" title="Add Password">
        <pw-icon [src]="editingCred ? '/assets/check.svg' : '/assets/add.svg'"
          color="dark">
        </pw-icon>
      </pw-button>
    </div>
  </form>
</ng-template>
