@import './variables.scss';
@import './grid.scss';
@import './margins.scss';

body {
	background-image: linear-gradient(to bottom left, $light-color, white);
	font-family: "Verdana";
	margin: 0;
	height: calc(100vh - 100px);
	margin-top: 100px;
}

.text {
  &-bold { font-weight: bold; }
  &-center { text-align: center; }
  &-left { text-align: left; }
  &-right { text-align: right; }
  &-success { color: $success-color; }
  &-danger { color: $danger-color; }
}

.absolute-center {
  @include absolute-center;

  &--top      { top: 30% !important; }
  &--right    { left: 70% !important; }
  &--bottom   { top: 70% !important; }
  &--left     { left: 30% !important; }
}
