$primary-color: #cfd8dc;
$light-color: #e1e2e1;
$dark-color: #9ea7aa;
$link-color: $dark-color;
$danger-color: #e66153;
$success-color: #53e687;
$grey: #9e9ea2;

$base-box-shadow: 2px 2px 2px rgba($dark-color,.5);

@mixin absolute-center {
  z-index: 10 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
}
