$base-margin: 20px;
$dbl-margin: 2 * $base-margin;
$half-margin: .5 * $base-margin;
$qtr-margin: .25 * $base-margin;

$primary-color: #92b1bd;
$light-color: #e1e2e1;
$dark-color: #9ea7aa;
$link-color: $dark-color;
$danger-color: #e66153;
$success-color: #67c287;
$grey: #9e9ea2;

$small-screen-width: 300px;

$base-box-shadow: 2px 2px 2px rgba($dark-color,.5);

@mixin absolute-center {
  z-index: 10 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
}

@mixin responsive-width {
    @media screen and (min-width: 630px) {
      width: 600px;
    }
    @media screen and (max-width: 630px) {
      width: 70vw;
    }
    @media screen and (max-width: 375px) {
      width: $small-screen-width;
    }
}
