@import '../../../../variables.scss';

:host {
  .key-form {
    margin: auto;
    max-width: 600px;
	@include responsive-width;
  }
  .encrypted-passwords {
    .encrypted-text {
      color: $danger-color;
      &.successful-decryption {
        color: $success-color;
      }
      word-break: break-all;
    }
  }
}
