<form class="key-form" [formGroup]="keyForm">
  <div *ngIf="encryptedPasswords && !successfulDecryption"
    class="encrypted-passwords text-center base-margin-bottom">
    <div class="encrypted-text base-margin-bottom"
      [innerHTML]="decryptedPasswords">
    </div>
    <div>
      Looks like you have encrypted passwords stored. 
      Enter your encryption key below to view them.
    </div>
  </div>
  <div *ngIf="encryptedPasswords && successfulDecryption"
    class="text-center base-margin-bottom">
    <div class="base-margin-bottom text-bold text-success">
      We have a match!
    </div>
    <div>
      Looks like you have encrypted passwords stored. 
      Enter your encryption key below to view them.
    </div>
  </div>
  <div *ngIf="this.state.passwords.length === 0"
    class="text-center base-margin-bottom">
    This site works by storing your passwords encrypted in a remote database. Only you can decrypt
    the passwords using a key of your choice. This key will not be sent to the remote server.
    <strong>You must remember this key in order to reveal your passwords in the event that your
    browser cache is cleared.</strong>
  </div>
  <pw-input type="password"
    label="Encryption Key"
    formControlName="key">
  </pw-input>
  <div class="buttons">
    <pw-button (click)="cancelEditKey()" title="Cancel">
      <pw-icon src="/assets/close.svg"></pw-icon>
    </pw-button>
    <pw-button *ngIf="allowSave"
      (click)="saveKey()"
      title="Save">
      <pw-icon src="/assets/check.svg"></pw-icon>
    </pw-button>
  </div>
</form>
