@import '../variables.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $primary-color;
	height: 70px;
	box-shadow: $base-box-shadow;
	text-align: center;
	h1 {
		margin-top: 14px;
	}
}
