<form class="pw-form" [formGroup]="pwForm">
  <pw-input label="Title" autofocus="true" formControlName="title"></pw-input>
  <pw-input label="Username" formControlName="username"></pw-input>
  <pw-input label="Password" [(type)]="passwordType" formControlName="password"></pw-input>
  <div class="qtr-margin-bottom">
    <pw-button (click)="generatePassword()"
     pwFlash message="Password Copied!">
      <span>Auto-generate new password</span>
    </pw-button>
  </div>
  <div class="buttons">
    <pw-button (click)="cancelAdd()" title="Cancel">
      <pw-icon src="/assets/close.svg"></pw-icon>
    </pw-button>
    <pw-button *ngIf="editTarget" title="Delete" (click)="showModal = true">
      <pw-icon src="/assets/delete.svg"></pw-icon>
    </pw-button>
    <pw-button *ngIf="pwForm.valid" (click)="addPassword()" title="Add Password">
      <pw-icon [src]="editTarget ? '/assets/check.svg' : '/assets/add.svg'">
      </pw-icon>
    </pw-button>
  </div>
</form>
<pw-confirm-modal
  [(show)]="showModal"
  msg="Are you sure you want to delete this credential?"
  (confirmed)="onCredDelete()">
</pw-confirm-modal>
