@import '../../../../variables.scss';
:host {
  .pw-form {
    max-width: 600px;
    margin: auto;
    @media screen and (min-width: 375px) {
      width: $small-screen-width;
    }
  }
  .buttons {
    pw-button { margin: 5px; }
  }
}
