<form class="pw-form" [formGroup]="pwForm">
  <pw-input label="Title" autofocus="true" formControlName="title"></pw-input>
  <pw-input label="Username" formControlName="username"></pw-input>
  <pw-input label="Password" type="password" formControlName="password"></pw-input>
  <div class="base-margin-bottom">
	  <a (click)="generatePassword()"
	    pwFlash message="Password Copied!">Generate Secure Password</a>
  </div>
  <div class="buttons">
    <pw-button (click)="cancelAdd()" title="Cancel">
      <pw-icon src="/assets/close.svg"></pw-icon>
    </pw-button>
    <pw-button *ngIf="editTarget" title="Delete" (click)="onCredDelete()">
      <pw-icon src="/assets/delete.svg"></pw-icon>
    </pw-button>
    <pw-button *ngIf="pwForm.valid" (click)="addPassword()" title="Add Password">
      <pw-icon [src]="editTarget ? '/assets/check.svg' : '/assets/add.svg'">
      </pw-icon>
    </pw-button>
  </div>
</form>
