<div class="form-group">
	<input #input
      [type]="type"
      [(ngModel)]="model"
      (ngModelChange)="propagateChange(model)"
      [ngClass]="{ 'has-input': model }">
	<label>{{ label }}</label>
    <pw-icon *ngIf="model"
      class="clear-btn"
      [src]="pwCloseIconSrc"
      (click)="clearModel()"
      color="dark"
      title="Clear">
    </pw-icon>
    <pw-icon *ngIf="isPassword"
      class="pw-visibility-toggle"
      [src]="pwVisibilityIconSrc"
      (click)="toggleType(type === 'password' ? 'text' : 'password')"
      color="dark"
      [title]="pwVisibilityIconTitle">
    </pw-icon>
</div>
