<div #passwordList>
  <div class="search-input" *ngIf="passwords?.length || search">
    <pw-input type="text"
      label="Search"
      [(ngModel)]="search"
      (ngModelChange)="onSearch()">
    </pw-input>
  </div>
  <div class="text-center" *ngIf="!passwords?.length && !search">
	  <h2>Click the plus icon below to add credentials</h2>
  </div>
  <div class="credential-container">
    <ng-container *ngFor="let cred of passwords; let i = index">
      <pw-credential [credential]="cred"></pw-credential>
    </ng-container>
  </div>
</div>
<div class="list-buttons">
  <div class="base-margin-top" title="Add Credentials">
    <pw-icon class="base-margin-top"
     src="/assets/add.svg"
     (click)="enterCreateView()"
     color="dark" size="lg">
    </pw-icon>
  </div>
</div>
<div class="encrypt-key-btn" title="View Encryption Key">
  <pw-icon class="base-margin-top"
   src="/assets/key.svg"
   (click)="enterKeyView()"
   size="md">
  </pw-icon>
</div>
