@import '../../../../variables.scss';

:host {
  .filter-input {
    max-width: 545px;
    margin: auto;
  }
  .list-buttons {
    display: inline-flex;
  }
  .credential-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .encrypt-key-btn {
    position: fixed;
    top: 16px;
    right: 20px;
    z-index: 200;
  }
}
