<div class="container" [@fade]="'in'">
  <div class="login absolute-center text-center">
    <pw-alert [(show)]="alert.show" [msg]="alert.msg" [color]="alert.color"></pw-alert>
    <h3>Login</h3>
    <form [formGroup]="loginForm">
      <pw-input label="Username" autofocus="true" formControlName="username"></pw-input>
      <pw-input label="Password" type="password" formControlName="password"></pw-input>
      <div *ngIf="loginForm.valid" [@fade]>
        <pw-button (click)="onSubmit()">
          <div class="btn-text">Submit</div>
        </pw-button>
      </div>
    </form>
    <div class="base-margin-top">
      <a routerLink="/account/create">Create an account</a>
    </div>
  </div>
</div>
