@import '../../../../variables.scss';

:host {
  .container {
    position: relative;
    background: white;
    height: 80vh; 
    margin-top: 100px;
    box-shadow: $base-box-shadow;
    width: initial;
    .login {
      height: 200px;
      @media screen and (max-width: 375px) {
        width: calc(100vw - 48px);
      }
      @media screen and (min-width: 375px) {
        width: $small-screen-width;
      }
    }
    .btn-text {
      padding-bottom: 4px;
    }
  }
}
